<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zalj.schedule">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name="com.zalj.schedule.MyNotifications.AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter>
                <action android:name="com.zalj.schedule.NOTIFICATION_DISCIPLINE"/>
                <action android:name="com.zalj.schedule.UPDATE_ALARM"/>
            </intent-filter>

        </receiver>

        <activity android:name="com.zalj.schedule.Activity.ScheduleOfDayActivity" />
        <activity
            android:name="com.zalj.schedule.Activity.ScheduleBuilderActivity"
            android:label="@string/nameOfActivity_ScheduleCreating" />
        <activity
            android:name="com.zalj.schedule.Activity.SelectScheduleActivity"
            android:label="@string/nameOfActivity_SelectSchedule" />
        <activity android:name="com.zalj.schedule.Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>